@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron text-white bg-primary">
    <div class="row">
        <div class="col-md-6">
            <h1>BYU-Washington</h1>
        </div>
        <div class="col-md-6">
            <img class="img-fluid" src="images/war_horse.png" />
        </div>
            </div>
        </div>
<div class="row">
    <div class="col-md-12">
        <img class="img-fluid" src="images/hero.jpg" />
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <h2>Welcome to BYU - Washington</h2>
        <p class="bg-primary text-white">
            Home of the War Horses!
        </p>
    </div>
</div>