@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>The university complies with various federal laws which require us to disclose certain information to students, employees, patrons, prospective students and prospective employees.</p>
